@font-face {
  font-family: 'shiftyNotes';
  src: url('./shiftynotes/ShiftyNotesRegular.ttf');
}

@font-face {
  font-family: 'ittyBitty';
  src: url('./itty-bitty-notebook-font/IttyBittyNotebook.ttf');
}

@font-face {
  font-family: 'myBooks';
  src: url('./my-books/MyBooks.ttf');
}

@font-face {
  font-family: 'simpleNoteFont';
  src: url('./simple-note-font/SimpleNote-w1pxz.ttf');
}

body {
  margin: 0;
  background-color: #ffe0b5;
  background-image: url('/img/backgrounds/brown-paper.jpg');
  background-size: 20%;
  font-family: ittyBitty;
  font-size: 15pt;
}

h1, h2, h3 {
  font-family: myBooks;
}

.articleBody {
  max-width: calc(min(1100px, 100% - 20px));
  margin-left: calc((100% - min(1100px, 100% - 20px) - 300px) / 2);
}

.articleBodyCenter {
  padding-top: 120px;
  max-width: calc(min(1100px, 100% - 20px));
  margin: auto;
  margin-bottom: 50px;
  min-height: calc(100vh - 120px);
}

.articleBodyCenter h2 {
  margin-block-start: 1.5em;
}

.articleBodyCenter h3 {
  margin-block-start: 1.2em;
  margin-block-end: 0.3em;
}

.aspect-ratio {
  position: relative;
  margin: auto;
  width: calc(80% + 80px);
  height: 0;
  padding-bottom: calc(45% + 0.55 * 80px - 20px); /* The height of the item will now be this percentage of the width. */
  background-image: url('/img/backgrounds/soft-paper.jpg');
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

.aspect-ratio iframe {
  position: absolute;
  width: calc(100% - 80px);
  height: calc(100% - 60px);
  top: 30px;
  left: 40px;
  border: 0;
}

.articleBodyCenter img {
  margin: 15px auto;
  display: block;
  max-width: 80%;
  max-height: 60vh;
}

.articleBodyCenter img.small {
  max-height: 400px;
}

.split-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split-img {
  flex: 1;
}

.split-img img {
  width: 80%;
}

footer {
  background-color: #4a4a4a;
  background: url('/img/backgrounds/paperboard.jpg');
  background-size: 20%;
  color: white;
  padding: 10px 20px;
  width: calc(100% - 40px);
  min-height: 80px;
  z-index: 100;
  border-top: #4a4a4a90 solid 5px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container a {
  color: white;
}

.footer-container p {
  margin: 5px 0px;
}

.navHeader {
  background-color: #4a4a4a;
  background: url('/img/backgrounds/paperboard.jpg');
  background-size: 20%;
  color: white;
  padding: 5px 0px 15px;
  position: fixed;
  width: 100%;
  min-height: 80px;
  max-height: 80px;
  z-index: 100;
  /*border-bottom: #4a4a4a90 solid 5px;*/
  transition: 0.4s;
}

.floatingThread {
  position: absolute;
  width: 100%;
  bottom: 3px;
  border-bottom: 1px dashed #eeeeee;
}

.navHeader.scrolled {
  min-height: 50px;
  max-height: 50px;
}

.navContainer {
  max-width: calc(min(1100px, 100% - 20px));
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projLogo img {
  height: 80px;
  transition: 0.4s;
}

.scrolled .projLogo img {
  height: 50px;
}

.projTitle {
  transition: 0.4s;
  margin: 1em 0px;
}
.projTitle h1 {
  transition: 0.4s;
  margin: 0px;
}
a.projTitle {
  text-decoration: none;
  color: white;
}

.scrolled .projTitle h1 {
  font-size: 32px;
}

.scrolled .projTitle {
  margin: 0.5em 0px;
}

.pageDropdown {
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.pageDropdownPreview {
  background-image: url('/img/backgrounds/cardboard.png');
  background-position-x: -140px;
  background-position-y: -160px;
  width: 215px;
  height: 30px;
  padding: 5px 20px 5px 35px;
  border-radius: 10px;
  line-height: 30px;
  cursor: pointer;
  position: relative;
}

.pageDropdownPreview::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 257px;
  height: 28px;
  border-radius: 10px;
  border: 2px dashed #eeeeee;
  content: "";
}

.pageDropdownResults {
  position: absolute;
  top: 95px;
  left: 0;
  overflow-y: scroll;
  /* this just doesn't work :/ */
  overflow-x: visible;
  width: 300px;
  margin-left: -20px;
  height: calc(100vh - 95px - 10px);
  display: none;
}

.pageDropdownResults.active {
  display: block;
}

.pageDropdownResults hr {
  margin: 5px -20px;
  border: 2px solid #4a4a4a50;
}

.pageDropdownSection {
  padding: 3px 20px 10px 20px;
  margin: 10px 10px -10px 10px;
  position: relative;
}
.pageDropdownSectionTab {
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  left: 10px;
  width: 60px;
  height: 10px;
  transform: translate(0, -100%);
}
.section1 {
  background-color: #DF9391;
}
.section2 {
  background-color: #EFC1A3;
}
.section3 {
  background-color: #ECD394;
}
.section4 {
  background-color: #A0ED9A;
}
.section5 {
  background-color: #8EC4E9;
}
.section6 {
  background-color: #DA95C2;
}

.pageDropdownChapterContainer {
  max-height: 1200px;
  transition: all 0.25s ease-out;
  overflow-y: clip;
  padding-top: 5px;
}

.pageDropdownChapterContainer.hidden {
  max-height: 0px;
}

.pageDropdownSectionTitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.pageDropdownChapter {
  padding: 10px 20px;
  margin-block-start: 20px;
  background-size: cover;
  background-repeat: round;
}

.pageDropdownPage {
  margin: 5px -10px;
  padding: 3px 10px;
  background: linear-gradient(to bottom, #eeeeee, #eeeeee 96%, #4c4cdb 98%, #eeeeee);
  background-size: 100% 26.5px;
  transition: all 0.25s ease-out;
  max-height: 300px;
  overflow-y: clip;
}

.pageDropdownPage.hidden {
  max-height: 0px;
  padding: 0px 10px;
}

.pageDropdownChapter.chapter1 {
  background-image: url('/img/nav/binder-1-fill.png');
}
.pageDropdownChapter.chapter1.empty {
  background-image: url('/img/nav/binder-1.png');
}
.pageDropdownChapter.chapter2 {
  background-image: url('/img/nav/binder-2-fill.png');
}
.pageDropdownChapter.chapter2.empty {
  background-image: url('/img/nav/binder-2.png');
}
.pageDropdownChapter.chapter3 {
  background-image: url('/img/nav/binder-3-fill.png');
}
.pageDropdownChapter.chapter3.empty {
  background-image: url('/img/nav/binder-3.png');
}
.pageDropdownChapter.chapter4 {
  background-image: url('/img/nav/binder-4-fill.png');
}
.pageDropdownChapter.chapter4.empty {
  background-image: url('/img/nav/binder-4.png');
}

a.pageDropdownItem {
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
}

/* TODO: Do this better */
.iconQuestions::before {
  content: "📝";
}
.iconTask::before {
  content: "🎮";
}
.iconWIP::before {
  content: "🚧";
}
.iconCode::before {
  content: "💽";
}
.iconSection::before {
  content: "📚";
}
.iconWorded::before {
  content: "📖";
}

.pageDropdownItem.complete::after {
  content: "✅";
  position: absolute;
  right: 0;
}

.dfaSection, .regexSection, .nfaSection {
  background: url('/img/backgrounds/cardboard-resize.png');
  background-size: cover;
  padding: 20px 45px 45px 45px;
}

.smallSection {
  background: url('/img/backgrounds/cardboard-small.png');
  background-size: cover;
  padding: 18px 50px;
}

.button {
  display: block;
  width: 50px;
  height: 30px;

  line-height: 30px;
  text-align: center;

  padding: 5px 10px;
  position: relative;

  background: url('/img/backgrounds/paperboard.jpg');
  background-size: 1000%;
  border-radius: 10px;

  text-decoration: none;
  color: white;
  cursor: pointer;
}

.threading {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 8px;
  border: 1px dashed #eeeeee;
}

.nextButton {
  float: right;
  margin-bottom: 20px;
}

.runButton {
  margin: auto;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lockedScene {
  position: relative;
  transition: visibility 0s, opacity 0.5s linear;
}

.lockContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 300px;
  text-align: center;
}

.lockBG {
  width: 100%;
  min-height: 250px;
  background-color: #4a4a4a40;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.contentContainer {
  transition: visibility 0s, opacity 0.5s linear;
}

.articleSections {
  width: 300px;
  position: fixed;
  right: calc(max(25px, (50% - min(1100px, 100% - 20px) / 2 - 150px) * 0.6));
  top: 10vh;
}

@media screen and (max-width: 1450px) {
  .articleSections {
    display: none;
  }

  .articleBody {
    margin: auto;
  }

}

.articleSections ul {
  list-style-type: none;
}

.articleSections ul li {
  margin: 10px 0px;
}

li.active {
  font-weight: 600;
  text-decoration: underline;
}
li.locked {
  opacity: 0.5;
}
li.locked::before {
  content: "🔒";
  margin-left: -20px;
}

.progressBorder {
  width: 100%;
  min-height: 10px;
  background-color: #4a4a4a80;
  border-radius: 10px;
  display: none;
  margin: 5px 0px;
}

.progressBar {
  width: 0;
  height: 10px;
  background-color: #4cdf49;
  border-radius: 10px;
  transition: width 0.5s;
}

.red {
  color: red;
}

.scene {
  width: 80%;
  min-height: 500px;
  position: relative;
  margin: auto;
}

.sceneLong {
  min-height: 800px;
}

.sceneFill {
  min-height: calc(100vh - 180px);
  width: 100%;
}

.playScene {
  position: absolute;
  width: 60%;
  height: 60%;
  top: 20%;
  left: 20%;
  background-color: #4a4a4a40;
  border: 1px solid #aaaaaa40;
  border-radius: 20px;
}

.playTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 130px solid #ffffff80;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal {
  position: absolute;
  color: white;
  width: calc(60% - 60px);
  height: calc(60% - 60px);
  padding: 30px;
  padding-top: 10px;
  top: 20%;
  left: 20%;
  background-color: #b388ebC0;
  background-image: linear-gradient(-5deg, #d5bff2c0 3%, #a57fd6c0 7%, #a57fd6c0 50%, #b388ebC0 70%, #9961e1c0 85%);
  /*border: 1px solid #aaaaaab0;*/
  justify-content: space-around;
  flex-direction: column;
  /* Gets set to flex */
  display: none;
  z-index: 100;
  user-select: none;
  box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.24), 0 0 0 1px rgba(0, 0, 0, 0.16);
}

.modal.modalFixed {
  position: fixed;
  width: calc(min(60%, 400px));
  height: calc(min(40%, 300px));
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.modal.modalFixed.modalLarge {
  width: 70%;
  height: 60%;
}

.modal.successModal {
  background-color: #60d394C0;
  background-image: linear-gradient(-5deg, #bae5cdc0 3%, #4fdc8ec0 7%, #4fdc8ec0 50%, #41d383c0 70%, #34d17ac0 85%);
}

.modal.failureModal {
  background-color: #fb6f92C0;
  background-image: linear-gradient(-5deg, #f3aebfc0 3%, #e3829ac0 7%, #e3829ac0 50%, #e67792c0 70%, #fb6f92C0 85%);
}

.modal .imprint {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom, #00000040 0%, #00000040 70%, transparent);
}

.modal .iconPin {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
}

.modal .modalContent {
  /* Also position this absolute so it can render above the imprint. */
  position: absolute;
  top: 10px;
  left: 30px;
  width: calc(100% - 60px);
  max-height: 90%;
  overflow-y: auto;
}

.modalContent h2 {
  margin-block-start: 0px;
}

.modalContent img {
  width: 100%;
  margin: auto;
  display: block;
}

.modalContent img.stopHeight {
  max-height: 40vh;
  width: auto;
}

.modal .modalActions {
  position: absolute;
  bottom: 10px;
  left: 30px;
  width: calc(100% - 60px);
}

.modal .modalActions .modalButton {
  float: right;
  width: 50px;
  height: 30px;
  color: white;
  font-family: ittyBitty;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #00000050;
  background-color: #00000020;
}

.modal .modalActions .modalButton:hover {
  background-color: #00000040;
}

.modal .modalActions .modalButton:active {
  background-color: #00000060;
}

/* Images */

img.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-bottom: -8px;
  margin-top: -2px;
}

/* HIGHLIGHTER */
.highlight {
  margin-left: -8px;
  margin-right: -8px;
  padding: 0px 8px;
}

.highlight-small {
  margin-left: -4px;
  margin-right: -4px;
  padding: 0px 4px;
}

.highlight-red {
  background: linear-gradient(105deg, #0000 8%, #fb6f92 10%, #fb6f92 90%, #0000 92%);
}
.highlight-orange {
  background: linear-gradient(105deg, #0000 8%, #e76f51 10%, #e76f51 90%, #0000 92%);
}
.highlight-green {
  background: linear-gradient(105deg, #0000 8%, #60d394 10%, #60d394 90%, #0000 92%);
}
.highlight-blue {
  background: linear-gradient(105deg, #0000 8%, #70d6ff 10%, #70d6ff 90%, #0000 92%);
}
.highlight-purple {
  background: linear-gradient(105deg, #0000 8%, #b388eb 10%, #b388eb 90%, #0000 92%);
}
.highlight-yellow {
  background: linear-gradient(105deg, #0000 8%, #e9f840 10%, #e9f840 90%, #0000 92%);
}
.highlight-red-long {
  background: linear-gradient(105deg, #0000 1%, #fb6f92 2%, #fb6f92 98%, #0000 99%);
}
.highlight-orange-long {
  background: linear-gradient(105deg, #0000 1%, #e76f51 2%, #e76f51 98%, #0000 99%);
}
.highlight-green-long {
  background: linear-gradient(105deg, #0000 1%, #60d394 2%, #60d394 98%, #0000 99%);
}
.highlight-blue-long {
  background: linear-gradient(105deg, #0000 1%, #70d6ff 2%, #70d6ff 98%, #0000 99%);
}
.highlight-purple-long {
  background: linear-gradient(105deg, #0000 1%, #b388eb 2%, #b388eb 98%, #0000 99%);
}
.highlight-yellow-long {
  background: linear-gradient(105deg, #0000 1%, #e9f840 2%, #e9f840 98%, #0000 99%);
}

.tab-view {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0px;
}

.tab-view .tab {
  padding: 10px 20px;
  background: url('/img/backgrounds/paperboard.jpg');
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  font-family: ittyBitty;
  color: white;
  /*border: 1px solid ;*/
}

.tab-view .tab.active {
  background-color: #ffffff40;
  background-blend-mode: lighten;
}

code {
  font-size: 16px;
}

.editor {
  width: 100%;
  min-height: max(200px, 50vh);
  border-radius: 0px 10px 10px 10px;
  border: 2px solid #4a4a4a
}

.editor-long .codes .editor {
  min-height: min(90vh, 800px);
}

/* Terminal */

.terminal {
  position: fixed;
  top: 110px;
  right: 30px;
  border: 1px solid white;
  background: #00000070;
  z-index: 50;
  width: min(70vw, 350px);
  color: white;
  font-family: monospace;
  font-size: 16px;
  transition: 0.4s;
}

.terminal.scrolled {
  top: 80px;
}

.terminal-line-container {
  max-width: 100%;
  overflow-x: auto;
  max-height: max(60vh, 400px);
  overflow-y: auto;
}

.terminal-line {
  padding: 5px 5px;
  text-wrap: nowrap;
}

.terminal-line.error {
  color: red;
}

.terminal-clear {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  background-image: url('/img/icon/delete-empty.svg');
  background-size: cover;
  background-color: transparent;
  filter: invert(100%);
  border: 0;
}

/* Questions */

.questionHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questionHeaderContainer h3 {
  margin-block-start: 0px;
}

.questionButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.questionButton {
  height: 36px;
  border: 0px;
  width: 36px;
  cursor: pointer;
  background-size: cover;
  background-color: transparent;
}

.showAnswerButton {
  background-image: url('/img/icon/puzzle-check.svg');
  filter: invert(26%) sepia(97%) saturate(1900%) hue-rotate(221deg) brightness(84%) contrast(100%);
}

.showHintButton {
  background-image: url('/img/icon/lightbulb-on.svg');
  filter: invert(81%) sepia(25%) saturate(2329%) hue-rotate(349deg) brightness(124%) contrast(80%);
}

.question textarea {
  min-width: calc(100% - 22px);
  max-width: calc(100% - 22px);
  border-radius: 10px;
  border: 1px solid #4a4a4a50;
  padding: 10px;
  margin: 10px 0px;
  background-color: #eba83d60;
  font-family: ittyBitty;
  font-size: 18px;
  outline: none!important;
}

/* DFA Intro HTML Elements */

.properties {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
